*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background-color:  #d3d3d3;
    opacity: 1;
}
html{
    scroll-behavior: smooth;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 50px;
    margin: 50px;
    border-radius: 10px;

}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 38px;

}

nav ul li a {
    text-decoration: none;
    color:black;
    font-size: 18px;
    position: relative;
    font-weight: 400;
}

nav ul li a::after{
    content: '';
    width: 0px;
    height: 3px;
    background-color: cornflowerblue;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    display: flex;
}
.header-text .right-sec .welcome-title{
    font-family: 'Franklin Gothic Medium';
    font-size: 48px;
    opacity: 0.56;
}
.profile-img{
    width: 400px;
    margin: 25px;
    margin-top: 50px;
    border-radius: 30px;
}
.right-sec{
    margin-top: 60px;
    margin-left: 100px;
    color: rgb(14, 14, 14);
    
}
.base-line{
    margin-top: 20px;
    white-space: inherit;
    animation: type 2s steps(20, end), blink-caret 0.5s step-end infinite alternate;
}

.hire-button{
    border-radius: 12px;
    margin-top: 30px;
    padding: 20px 50px;
    font-size: 15px;
    border-color:#FFFFFF;
}
.hire-button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    border:#FFFFFF ;
}
/* about section*/

#about{
    padding: 0px 60px;
    background-color: #FFFFFF;
}


.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-column-1{
    flex-basis: 60%;
    
}

.sub-title{
    margin-bottom: 30px;
}

.about-column-2{
    flex-basis: 35%;

}

.about-column-2 img{
    width: 100%;
    border-radius: 10px;
    margin-top: 40px;
}

.tab-titles{
    display: flex;
    margin:10px 0px 10px;
    
}

.tab-links{
    margin: 18px 50px 15px 0px;
    cursor:pointer;
    font-size: 18px;
    font-weight: 500px;
    position: relative;
}

.tab-links::after{
    content: ' ';
    width: 0;
    height: 3px;
    background:rgb(86, 134, 156);
    left:0;
    bottom: -8px;
    transition: 0.8s;
    position: absolute;
}

.tab-links.active-link::after{
    width: 100%;
}

.tab-contents ul li {
    list-style:none;
    margin-top: 20px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
    
}
#skills{
    font-weight: 600;
}

ul li span{
    font-weight:600;
}
/*----------services--------------*/

#services{
    padding:30px 150px;
    background-color: #3a3a3a;
    
}

#services .container .sub-title{
    color:aliceblue;
}


.services-list{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:70px;
    margin-top: 50px;
    margin-bottom: 70px;
    color: cornflowerblue;
}

.services-list div{
    background-color: white;
    padding: 80px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.7s;
}

.services-list div i{
    font-size: 30px;
    margin-bottom: 10px;
}

.services-list div h2{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px ;

}

.services-list div p{
    font-size: 15px;;
}


.services-list div a{
    text-decoration: none;
    color: red;
}

.services-list div:hover{
    background-color:beige;
    transform: translateY(-10px);

}

/*-------------protfolio--------------*/

#portfolio{
    margin-bottom: 50px;
    padding:30px 200px;
    background-color: #d3d3d3;
}

.work-list{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:70px;
    margin-top: 50px;
    margin-bottom: 70px;
    color: midnightblue;
}

.work-list div{
    margin: 30px;
    text-align: center;
}

.work-list div img{
    width: 300px;
    height: 200px;
    border-radius: 30px; 
    margin-bottom: 10px;
}

.work-list div h2{
    font-weight: 700;
    opacity: 0.45;
    margin-bottom: 10px;
}


.work-list div a{
    text-decoration: none;

}

/*------------contact---------*/

#contact{
    margin-bottom: 30px;
    padding:0px 100px;
    background-color: #FFFFFF;
}

.row{
    padding:30px 0px;
}

.contact-left{
    flex-basis: 35%;

}

.contact-right{
    flex-basis: 60%;
}



.contact-left p{
    margin-bottom: 30px;
    font-size: 18px;
}

.social-icons{
    color: black;
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    display:inline-block;

}

.social-icons i{
    color:black;
    display: inline-block;
    margin-right: 25px;
    transition: transform 0.5s;
}

.social-icons i:hover{
    color:rgb(238, 172, 6);
    transform: scale(1.2);
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width:100%;
    border:0;
    background-color:black;
    outline:none;
    padding:15px;
    margin:15px 0px;
    font-size: 18px;
    border-radius: 6px;
    color: white;
}

a .download-button{
    display: inline-block;
    background-color:black;
    color: white;
    font-size: 18px;
    cursor:pointer;
    text-decoration: none;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 20px;
}

.submit-button {
    display: inline-block;
    background-color:black;
    color: white;
    font-size: 18px;
    cursor:pointer;
    text-decoration: none;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;

}

.submit-button{
    margin-left: 250px;
    padding:10px 40px;
}

a .download-button:hover{
    background-color: white;
    color: black;
}

.submit-button:hover{
    background-color: white;
    color: black;
}

#message{
    margin-top: 3px;
    margin-left: 240px;
    display: block;
    color: skyblue;
}

/*-------------------css for small screen---------------*/

